header.jumbotron.masthead
  .inner
    h1 OurField
    h2
      b OurField
      | is a web-application of particular interest to individuals
      | and groups engaged in volunteer activities that are organized into geographic
      i territories
      | or
      i fields
      | .
    p
      br
      a.btn.btn-large(href='#/about') Learn More
      |&nbsp;
      a.btn.btn-primary.btn-large(href='#/map') View Map
      |&nbsp;
      a.btn.btn-primary.btn-large(href='#/login') Login
      |&nbsp;
      a.btn.btn-primary.btn-large(href='#/login') Register
      |&nbsp;