!!!
//html(ng-app="ofm")
html
  head
    style
      [ng-cloak] {
        display: none;
        }

  include /partials/meta
  include /partials/styles

  body
  include /partials/navBarTop
  block body